<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>TestTerzoModuloStefanoBini</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PasseggeroServlet</display-name>
    <servlet-name>PasseggeroServlet</servlet-name>
    <servlet-class>it.stefano.project.view.PasseggeroServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasseggeroServlet</servlet-name>
    <url-pattern>/PasseggeroServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Prenotazioni</display-name>
    <servlet-name>Prenotazioni</servlet-name>
    <servlet-class>it.stefano.project.view.Prenotazioni</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prenotazioni</servlet-name>
    <url-pattern>/Prenotazioni</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AggiungiPrenotazione</display-name>
    <servlet-name>AggiungiPrenotazione</servlet-name>
    <servlet-class>it.stefano.project.view.AggiungiPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AggiungiPrenotazione</servlet-name>
    <url-pattern>/AggiungiPrenotazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimuoviPrenotazione</display-name>
    <servlet-name>RimuoviPrenotazione</servlet-name>
    <servlet-class>it.stefano.project.view.RimuoviPrenotazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviPrenotazione</servlet-name>
    <url-pattern>/RimuoviPrenotazione</url-pattern>
  </servlet-mapping>
</web-app>